
<div id="search-pass" class='col-sm-4 col-sm-offset-4'>
  <div class='panel panel-default'>
    <div class="panel-heading">
      找回密码
    </div>
    <div class="panel-body">
      <div class="alert alert-success" role="alert" v-if="successMsg">{{successMsg}}</div>
      <div class="alert alert-danger" role="alert" v-if="errorMsg">{{errorMsg}}</div>

        <div class="form-group">
          <label for="email">电子邮箱</label>
          <input class='form-control' id='email' name='email' size='30' type='text' v-model="email"/>
        </div>
        <button class="btn btn-default" v-on:click="onSubmit">确认</button>

    </div>
  </div>
</div>

<script>
  var vue = new Vue({
    el: '#search-pass',
    data: {
      email: '',
      errorMsg: '',
      successMsg: ''
    },
    methods: {
      onSubmit: function() {

        vue.errorMsg = '';
        vue.successMsg = '';

        $.post('/search_pass', {email: vue.email}, function (result) {
          console.log(result.message);
          if (!result.success) {
            vue.errorMsg = result.message;
            return;
          }

          vue.successMsg = result.message;
        });
      }
    }
  });
</script>
