<input type="hidden" id="topic-id" value="<%= typeof(topic_id) !== 'undefined' ? topic_id : '' %>"/>
<div id="app" class="col-md-8 col-md-offset-2">
  <ol class="breadcrumb">
    <li><a href="/">主页</a></li>
    <li class="active">{{ pageTitle }}</li>
  </ol>

  <div class="form-group">
  <select class="form-control" v-model="tabName">
    <option v-for="item in tabs">{{ item[1] }}</option>
  </select>
  </div>

  <div class="form-group">
  <input autofocus type="text" class="form-control" id='title' name='title' placeholder="标题字数 10 字以上" v-model="title">
  </div>

  <div class='markdown_editor in_editor'>
    <div class='markdown_in_editor'>
      <textarea class='form-control editor' name='t_content' rows='20'
                placeholder='文章支持 Markdown 语法, 请注意标记代码'></textarea>
    </div>
  </div>
  <button type="submit" class='btn btn-primary' v-on:click="submit">提交</button>
  <input type='hidden' name='_csrf' value='<%= csrf %>'>
</div>

<!-- markdown editor -->
<%- partial('../includes/editor') %>
<script>
  var editor = new Editor();
  editor.render($('.editor')[0]);

  var vue = new Vue({
    el: '#app',
    data: {
      topicId: '',
      title: '',
      submitUrl: '/topic/create',
      pageTitle: '新建',
      topic: '',
      tabs: [],
      tabName: '全部'
    },
    methods: {
      getTopic: function() {
        $.get('/topic_data/' + this.topicId, function (result) {
          if (!result.success) {
            vue.errorMsg = result.error;
          } else {
            vue.topic = result.topic;
            vue.tabs = result.tabs;
            vue.title = result.topic.title;

            editor.codemirror.setValue(vue.topic.content);

            for(var i = 0; i < result.tabs.length; i++) {
              if(result.tabs[i][0] === result.topic.tab) {
                vue.tabName = result.tabs[i][1];
                break;
              }
            }
          }
        });
      },
      submit: function() {

        var tab = '';
        for(var i = 0; i < this.tabs.length; i++) {
          if(this.tabs[i][1] === this.tabName) {
            tab = this.tabs[i][0];
            break;
          }
        }

        $.post(this.submitUrl, {
          _csrf: $('#_csrf').val(),
          title: vue.title,
          tab: tab,
          t_content: editor.codemirror.getValue() },
          function (result) {
            if (!result.success) {
              vue.errorMsg = result.error;
            } else {
              location.href = result.url;
            }
        });
      }
    }
  });

  var topicId = $('#topic-id').val();
  if (topicId) {
    vue.topicId = topicId;
    vue.submitUrl = '/topic/' + topicId + '/edit';
    vue.pageTitle = '编辑';
    vue.getTopic();
  }

</script>
