<div class="col-md-6 col-md-offset-3">
  <ul class='breadcrumb'>
    <li><a href='/'>主页</a></li>
    <li class='active'>设置</li>
  </ul>
  <div class='panel panel-default'>
    <div class='panel-heading'>
    个人信息
    </div>
    <div class='panel-body'>
      <div class='form-group'>
        <label for='name'>用户名</label>
        <input class='form-control readonly' id='name' size='30' type='text' readonly='true' v-model="loginname"/>
      </div>
      <div class='form-group'>
        <label for='email'>电子邮件</label>
        <input class='form-control readonly' id='email' size='30' type='text' readonly='true' v-model="email"/>
      </div>
      <div class='form-group'>
        <label for='location'>所在地点</label>
        <input class='form-control' id='location' size='30' type='text' v-model="location"/>
      </div>
      <div class='form-group'>
        <label for='signature'>个性签名</label>
        <textarea class='form-control' id='signature' name='signature' size='30' v-model="signature"></textarea>
      </div>
      <button type="submit" class="btn btn-primary" v-on:click="updateUserInfo()">保存</button>
    </div>
  </div>

  <div class='panel panel-default'>
    <div class='panel-heading'>
      Access Token
    </div>
    <div class='panel-body'>
      <div>
        <span>字符串：</span>
        {{accessToken}}
      </div>
      <div>
        <span>二维码：</span>
        <span id="access-token-qrcode"></span>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var pagePrefix = '<%= apiPrefix.page %>';
  var dataPrefix = '<%= apiPrefix.data %>';
  var userId = '<%= typeof(userId) !== "undefined" && userId ? userId : ""%>';

  var vue = new Vue({
    el: '#app',
    data: {
      loginname: '',
      email: '',
      location: '',
      signature: '',
      accessToken: '',
      errorMsg: '',
      successMsg: ''
    },
    methods: {
      getUser() {
        $.post(dataPrefix + '/user/' + userId + '/data', {_csrf: $('#_csrf').val()}, function(result) {
          if (!result.success) {
            vue.errorMsg = result.message;
            vue.successMsg = '';
            return;
          }

          vue.loginname =  result.data.loginname;
          vue.email = result.data.email;
          vue.location = result.data.location;
          vue.signature = result.data.signature;
          vue.accessToken = result.data.accessToken;
          new QRCode(document.getElementById("access-token-qrcode"), {
            text: vue.accessToken,
            width: 200,
            height: 200,
          });
        });
      },
      updateUserInfo() {
        $.post(dataPrefix + '/user/' + userId + '/update', 
          {_csrf: $('#_csrf').val(), loginname: vue.loginname, email: vue.email, location: vue.location, signature: vue.signature}, 
          function(result) {
            if (!result.success) {
              vue.errorMsg = result.message;
              vue.successMsg = '';
              return;
            }

            vue.errorMsg = '';
            vue.successMsg = result.message;
          });
      }
    }
  });

  if (userId) {
    vue.getUser();
  }
</script>
