<div class='panel panel-default'>
  <div class='panel-heading'>
    {{userName}}创建的话题
  </div>
  <div class='panel-body'>
    <div class="list-group">
      <a href="<%= apiPrefix.page %>/topic/{{topic._id}}/show" class="list-group-item" v-for="(index, topic) in topics">
        <h4 class="list-group-item-heading">{{topic.title}}</h4>
      </a>
    </div>
  </div>
</div>
<script type="text/javascript">
  var pagePrefix = '<%= apiPrefix.page %>';
  var dataPrefix = '<%= apiPrefix.data %>';

  var vue = new Vue({
    el: '#app',
    data: {
      userName: '',
      topics: [],
      currentPage: 1,
      pages: 1,
      errorMsg: '',
      canLoadData: false
    },
    methods: {
      getData: function(currentPage) {
        if (currentPage > vue.pages) return;

        $.post( dataPrefix + '/user/' + vue.userName + '/topics?' + 'currentPage=' + vue.currentPage, function(result) {
          canLoadData = true;

          if (!result.success) {
            vue.errorMsg = result.message;
            return;
          }
           
          vue.topics = result.data;
          vue.currentPage = result.currentPage;
          vue.pages = result.pages;
        });
      }
    }
  });

  vue.userName = '<%= typeof(userName) !== "undefined" ? userName : "" %>';

  if (vue.userName) {
    vue.getData(vue.currentPage);
  }

  var scrollButtom = new ScrollButtom();
  scrollButtom.init(function() {
    if (vue.currentPage < vue.pages && canLoadData) {
      canLoadData = false;
      vue.getData(vue.currentPage + 1);
    }
  });
</script>