# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

build
database.sqlite
node_modules
ncp-debug.log
npm-debug.log

# server


.cov
coverage
.naeindex
coverage.html
.monitor

src/server/config.js
src/server/assets.json
src/server/public/*.min.*.js
src/server/public/*.min.*.css

# Ignore Mac OS desktop services store
.DS_Store

# Ignore Windows desktop setting file
desktop.ini

*.log

.idea
public/upload/*

*.sublime-project
*.sublime-workspace
*.swpls
