<div class="col-md-6 col-md-offset-3">
  <ul class='breadcrumb'>
    <li><a href='/'>主页</a></li>
    <li class='active'>找回密码</li>
  </ul>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      找回密码
    </div>
    <div class='panel-body'>
      <div class='form-group'>
        <label for='newPassword'>新密码</label>
        <input class='form-control' type='password' id='newPassword' size='30' v-model="newPassword"/>
      </div>
      <div class='form-group'>
        <label for='reNewPassword'>再新密码</label>
        <input class='form-control' type='password' id='reNewPassword' size='30' v-model="reNewPassword"/>
      </div>
      <button type="submit" class="btn btn-primary" v-on:click="resetPassword()">保存</button>
    </div>
  </div>
</div>

<script type="text/javascript">
  var pagePrefix = '<%= apiPrefix.page %>';
  var dataPrefix = '<%= apiPrefix.data %>';
  var loginname = '<%= typeof(loginname) !== "undefined" && loginname ? loginname : ""%>';
  var key = '<%= typeof(key) !== "undefined" && key ? key : ""%>';

  var vue = new Vue({
    el: '#app',
    data: {
      newPassword: '',
      reNewPassword: '',
      errorMsg: '',
      successMsg: ''
    },
    methods: {
      resetPassword() {
        $.post(dataPrefix + '/user/authSearchPassword',
          {_csrf: $('#_csrf').val(), key: key, loginname: loginname, newPassword: vue.newPassword, reNewPassword: vue.reNewPassword}, 
          function(result) {
            if (!result.success) {
              vue.errorMsg = result.message;
              vue.successMsg = '';
              return;
            }

            vue.newPassword = '';
            vue.reNewPassword = '';
            vue.errorMsg = '';
            vue.successMsg = result.message;
          });
      }
    }
  });
</script>
