
li a {
    height: 40px;
    width: 100%;
    display: inline-block;
    line-height: 40px;
    vertical-align: middle;
    color: #444f6c;
    text-decoration: none;
    padding-left: 0px;
    font-size: 14px;
    transition: all .2s linear 0s;
}

.level1 {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #FFF;
}

.level1 li{
    font-size: 14px;
    list-style: none;
}

.level1 > li > a {
    font-size: 15px;
    font-weight: 700;
    height: 48px;
    line-height: 48px;
    padding-left: 48px;
}

.level1 ul {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

ul ul a {
    padding-left: 68px;
}

.active {
    background-color: rgba(0,170,223,0.08);
}