<div id="app">
  <div class="col-sm-2">
    <div class="list-group">
      <button href="#" class="list-group-item disabled">
        操作
      </button>
      <button v-on:click="onTab" v-for="item in tabs" class="btn list-group-item" value="{{ item[0] }}">{{ item[1] }}</button>
    </div>
  </div>

  <div class="col-sm-10">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="#"><%= pageTitle %></a></li>
    </ol>
    <div class="panel panel-default">
      <div class="panel-body">
        <a href='/topic/create' class="btn btn-primary btn-sm" role="button">添加文章</a>
      </div>
    </div>

    <table class="table table-bordered">
      <thead>
      <tr>
        <th>作者</th>
        <th>标题</th>
        <th>时间</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
        <tr v-for="topic in topics">
          <td style="width: 100px"><a href="/user/{{ topic.author.loginname}}">{{topic.author.loginname}}</a></td>
          <td><a href='/topic_page/{{topic._id}}'>{{topic.title}}</a></td>
          <td style="width: 100px">{{topic.create_at}}</td>
          <td style="width: 100px">
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Action <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href='/topic/{{topic._id}}/edit'>编辑</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<script>
  var vue = new Vue({
    el: '#app',
    data: {
      tabs: [],
      tab: 'all',
      topics: []
    },
    methods: {
      onTab: function(event) {
        this.tab = event.target.value;
        this.getData();
      },
      getData: function() {
        $.post('topics?tab=' + this.tab, function(result) {
          if (!result.success) {
            alert(result.error);
          } else {
            vue.topics = result.topics;
            vue.tabs = result.tabs;
          }
        });
      }
    }
  });

  vue.getData();
</script>
