
.nav-tabs-x {
    margin-bottom: 50px;
}

.signin {
    padding-top: 50px;
}

.signup {
    padding-top: 50px;
}

.signin-panel {
    width: 340px;
}


/**
* topic
**/

.topic .header {
    margin-top: 20px;
    margin-bottom: 20px;
}

.topic .header h2 {
    margin-bottom: 20px;
}

.topic .header .meta {
    color: #999;
}

.topic .content {
    margin-top: 20px;
    margin-bottom: 20px;
}

/**
* reply
**/

.reply-panel {
    padding-top: 15px;
    border-bottom: 1px solid #f1f1f1
}

.reply-content {
    padding-top: 15px;
    padding-bottom: 15px;
}

.reply-user-time {
    color: #767676;
    margin-left: 8px;
}

.reply-input {
    padding: 15px;
}

div.category {
    margin-right: 15px;
}

/**
* menu
**/

.menu-item-enable {
    background-color: #dff0d8;
}

