@font-face {
  font-family: octicons-link;
  src: url(data:font/woff;charset=utf-8;base64,d09GRgABAAAAAAZwABAAAAAACFQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABEU0lHAAAGaAAAAAgAAAAIAAAAAUdTVUIAAAZcAAAACgAAAAoAAQAAT1MvMgAAAyQAAABJAAAAYFYEU3RjbWFwAAADcAAAAEUAAACAAJThvmN2dCAAAATkAAAABAAAAAQAAAAAZnBnbQAAA7gAAACyAAABCUM+8IhnYXNwAAAGTAAAABAAAAAQABoAI2dseWYAAAFsAAABPAAAAZwcEq9taGVhZAAAAsgAAAA0AAAANgh4a91oaGVhAAADCAAAABoAAAAkCA8DRGhtdHgAAAL8AAAADAAAAAwGAACfbG9jYQAAAsAAAAAIAAAACABiATBtYXhwAAACqAAAABgAAAAgAA8ASm5hbWUAAAToAAABQgAAAlXu73sOcG9zdAAABiwAAAAeAAAAME3QpOBwcmVwAAAEbAAAAHYAAAB/aFGpk3jaTY6xa8JAGMW/O62BDi0tJLYQincXEypYIiGJjSgHniQ6umTsUEyLm5BV6NDBP8Tpts6F0v+k/0an2i+itHDw3v2+9+DBKTzsJNnWJNTgHEy4BgG3EMI9DCEDOGEXzDADU5hBKMIgNPZqoD3SilVaXZCER3/I7AtxEJLtzzuZfI+VVkprxTlXShWKb3TBecG11rwoNlmmn1P2WYcJczl32etSpKnziC7lQyWe1smVPy/Lt7Kc+0vWY/gAgIIEqAN9we0pwKXreiMasxvabDQMM4riO+qxM2ogwDGOZTXxwxDiycQIcoYFBLj5K3EIaSctAq2kTYiw+ymhce7vwM9jSqO8JyVd5RH9gyTt2+J/yUmYlIR0s04n6+7Vm1ozezUeLEaUjhaDSuXHwVRgvLJn1tQ7xiuVv/ocTRF42mNgZGBgYGbwZOBiAAFGJBIMAAizAFoAAABiAGIAznjaY2BkYGAA4in8zwXi+W2+MjCzMIDApSwvXzC97Z4Ig8N/BxYGZgcgl52BCSQKAA3jCV8CAABfAAAAAAQAAEB42mNgZGBg4f3vACQZQABIMjKgAmYAKEgBXgAAeNpjYGY6wTiBgZWBg2kmUxoDA4MPhGZMYzBi1AHygVLYQUCaawqDA4PChxhmh/8ODDEsvAwHgMKMIDnGL0x7gJQCAwMAJd4MFwAAAHjaY2BgYGaA4DAGRgYQkAHyGMF8NgYrIM3JIAGVYYDT+AEjAwuDFpBmA9KMDEwMCh9i/v8H8sH0/4dQc1iAmAkALaUKLgAAAHjaTY9LDsIgEIbtgqHUPpDi3gPoBVyRTmTddOmqTXThEXqrob2gQ1FjwpDvfwCBdmdXC5AVKFu3e5MfNFJ29KTQT48Ob9/lqYwOGZxeUelN2U2R6+cArgtCJpauW7UQBqnFkUsjAY/kOU1cP+DAgvxwn1chZDwUbd6CFimGXwzwF6tPbFIcjEl+vvmM/byA48e6tWrKArm4ZJlCbdsrxksL1AwWn/yBSJKpYbq8AXaaTb8AAHja28jAwOC00ZrBeQNDQOWO//sdBBgYGRiYWYAEELEwMTE4uzo5Zzo5b2BxdnFOcALxNjA6b2ByTswC8jYwg0VlNuoCTWAMqNzMzsoK1rEhNqByEyerg5PMJlYuVueETKcd/89uBpnpvIEVomeHLoMsAAe1Id4AAAAAAAB42oWQT07CQBTGv0JBhagk7HQzKxca2sJCE1hDt4QF+9JOS0nbaaYDCQfwCJ7Au3AHj+LO13FMmm6cl7785vven0kBjHCBhfpYuNa5Ph1c0e2Xu3jEvWG7UdPDLZ4N92nOm+EBXuAbHmIMSRMs+4aUEd4Nd3CHD8NdvOLTsA2GL8M9PODbcL+hD7C1xoaHeLJSEao0FEW14ckxC+TU8TxvsY6X0eLPmRhry2WVioLpkrbp84LLQPGI7c6sOiUzpWIWS5GzlSgUzzLBSikOPFTOXqly7rqx0Z1Q5BAIoZBSFihQYQOOBEdkCOgXTOHA07HAGjGWiIjaPZNW13/+lm6S9FT7rLHFJ6fQbkATOG1j2OFMucKJJsxIVfQORl+9Jyda6Sl1dUYhSCm1dyClfoeDve4qMYdLEbfqHf3O/AdDumsjAAB42mNgYoAAZQYjBmyAGYQZmdhL8zLdDEydARfoAqIAAAABAAMABwAKABMAB///AA8AAQAAAAAAAAAAAAAAAAABAAAAAA==) format('woff');
}

.nongshuoshu-body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #303030;
  font-family: "inherit";
  font-size: 16px;
  line-height: 2;
  word-wrap: break-word;
}

.nongshuoshu-body a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.nongshuoshu-body a:active,
.nongshuoshu-body a:hover {
  outline-width: 0;
}

.nongshuoshu-body strong {
  font-weight: inherit;
}

.nongshuoshu-body strong {
  font-weight: bolder;
}

.nongshuoshu-body h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.nongshuoshu-body img {
  border-style: none;
}

.nongshuoshu-body svg:not(:root) {
  overflow: hidden;
}

.nongshuoshu-body code,
.nongshuoshu-body kbd,
.nongshuoshu-body pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

.nongshuoshu-body hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.nongshuoshu-body input {
  font: inherit;
  margin: 0;
}

.nongshuoshu-body input {
  overflow: visible;
}

.nongshuoshu-body button:-moz-focusring,
.nongshuoshu-body [type="button"]:-moz-focusring,
.nongshuoshu-body [type="reset"]:-moz-focusring,
.nongshuoshu-body [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

.nongshuoshu-body [type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.nongshuoshu-body table {
  border-spacing: 0;
  border-collapse: collapse;
}

.nongshuoshu-body td,
.nongshuoshu-body th {
  padding: 0;
}

.nongshuoshu-body * {
  box-sizing: border-box;
}

.nongshuoshu-body input {
  font: 13px/1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.nongshuoshu-body a {
  color: #515151;
  text-decoration: none;
}

.nongshuoshu-body a:hover,
.nongshuoshu-body a:active {
  text-decoration: underline;
}

.nongshuoshu-body hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd;
}

.nongshuoshu-body hr::before {
  display: table;
  content: "";
}

.nongshuoshu-body hr::after {
  display: table;
  clear: both;
  content: "";
}

.nongshuoshu-body h1,
.nongshuoshu-body h2,
.nongshuoshu-body h3,
.nongshuoshu-body h4,
.nongshuoshu-body h5,
.nongshuoshu-body h6 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  color: #515151;
}

.nongshuoshu-body h1 {
  font-size: 30px;
}

.nongshuoshu-body h2 {
  font-size: 21px;
}

.nongshuoshu-body h3 {
  font-size: 16px;
}

.nongshuoshu-body h4 {
  font-size: 14px;
}

.nongshuoshu-body h5 {
  font-size: 12px;
}

.nongshuoshu-body h6 {
  font-size: 11px;
}

.nongshuoshu-body p {
  margin-top: 0;
  margin-bottom: 10px;
}

.nongshuoshu-body blockquote {
  margin: 0;
}

.nongshuoshu-body ul,
.nongshuoshu-body ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.nongshuoshu-body ol ol,
.nongshuoshu-body ul ol {
  list-style-type: lower-roman;
}

.nongshuoshu-body ul ul ol,
.nongshuoshu-body ul ol ol,
.nongshuoshu-body ol ul ol,
.nongshuoshu-body ol ol ol {
  list-style-type: lower-alpha;
}

.nongshuoshu-body dd {
  margin-left: 0;
}

.nongshuoshu-body code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}

.nongshuoshu-body pre {
  margin-top: 0;
  margin-bottom: 0;
  font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.nongshuoshu-body .pl-0 {
  padding-left: 0 !important;
}

.nongshuoshu-body .pl-1 {
  padding-left: 3px !important;
}

.nongshuoshu-body .pl-2 {
  padding-left: 6px !important;
}

.nongshuoshu-body .pl-3 {
  padding-left: 12px !important;
}

.nongshuoshu-body .pl-4 {
  padding-left: 24px !important;
}

.nongshuoshu-body .pl-5 {
  padding-left: 36px !important;
}

.nongshuoshu-body .pl-6 {
  padding-left: 48px !important;
}

.nongshuoshu-body .form-select::-ms-expand {
  opacity: 0;
}

.nongshuoshu-body:before {
  display: table;
  content: "";
}

.nongshuoshu-body:after {
  display: table;
  clear: both;
  content: "";
}

.nongshuoshu-body>*:first-child {
  margin-top: 0 !important;
}

.nongshuoshu-body>*:last-child {
  margin-bottom: 0 !important;
}

.nongshuoshu-body a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.nongshuoshu-body .anchor {
  display: inline-block;
  padding-right: 2px;
  margin-left: -18px;
}

.nongshuoshu-body .anchor:focus {
  outline: none;
}

.nongshuoshu-body h1,
.nongshuoshu-body h2,
.nongshuoshu-body h3,
.nongshuoshu-body h4,
.nongshuoshu-body h5,
.nongshuoshu-body h6 {
  margin-top: 1em;
  margin-bottom: 16px;
  font-weight: bold;
  line-height: 1.4;
}

.nongshuoshu-body h1 .octicon-link,
.nongshuoshu-body h2 .octicon-link,
.nongshuoshu-body h3 .octicon-link,
.nongshuoshu-body h4 .octicon-link,
.nongshuoshu-body h5 .octicon-link,
.nongshuoshu-body h6 .octicon-link {
  color: #000;
  vertical-align: middle;
  visibility: hidden;
}

.nongshuoshu-body h1:hover .anchor,
.nongshuoshu-body h2:hover .anchor,
.nongshuoshu-body h3:hover .anchor,
.nongshuoshu-body h4:hover .anchor,
.nongshuoshu-body h5:hover .anchor,
.nongshuoshu-body h6:hover .anchor {
  text-decoration: none;
}

.nongshuoshu-body h1:hover .anchor .octicon-link,
.nongshuoshu-body h2:hover .anchor .octicon-link,
.nongshuoshu-body h3:hover .anchor .octicon-link,
.nongshuoshu-body h4:hover .anchor .octicon-link,
.nongshuoshu-body h5:hover .anchor .octicon-link,
.nongshuoshu-body h6:hover .anchor .octicon-link {
  visibility: visible;
}

.nongshuoshu-body h1 {
  padding-bottom: 0.3em;
  font-size: 2.25em;
  line-height: 1.2;
  border-bottom: 1px solid #eee;
}

.nongshuoshu-body h1 .anchor {
  line-height: 1;
}

.nongshuoshu-body h2 {
  padding-bottom: 0.3em;
  font-size: 1.75em;
  line-height: 1.225;
  border-bottom: 1px solid #515151;
}

.nongshuoshu-body h2 .anchor {
  line-height: 1;
}

.nongshuoshu-body h3 {
  font-size: 1.5em;
  line-height: 1.43;
}

.nongshuoshu-body h3 .anchor {
  line-height: 1.2;
}

.nongshuoshu-body h4 {
  font-size: 1.25em;
}

.nongshuoshu-body h4 .anchor {
  line-height: 1.2;
}

.nongshuoshu-body h5 {
  font-size: 1em;
}

.nongshuoshu-body h5 .anchor {
  line-height: 1.1;
}

.nongshuoshu-body h6 {
  font-size: 1em;
  color: #777;
}

.nongshuoshu-body h6 .anchor {
  line-height: 1.1;
}

.nongshuoshu-body p,
.nongshuoshu-body blockquote,
.nongshuoshu-body ul,
.nongshuoshu-body ol,
.nongshuoshu-body dl,
.nongshuoshu-body table,
.nongshuoshu-body pre {
  margin-top: 0;
  margin-bottom: 16px;
  color: #7a7a7a
}

.nongshuoshu-body hr {
  height: 4px;
  padding: 0;
  margin: 16px 0;
  background-color: #e7e7e7;
  border: 0 none;
}

.nongshuoshu-body ul,
.nongshuoshu-body ol {
  padding-left: 2em;
}

.nongshuoshu-body ul ul,
.nongshuoshu-body ul ol,
.nongshuoshu-body ol ol,
.nongshuoshu-body ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.nongshuoshu-body li>p {
  margin-top: 16px;
}

.nongshuoshu-body dl {
  padding: 0;
}

.nongshuoshu-body dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}

.nongshuoshu-body dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.nongshuoshu-body blockquote {
  padding: 0 15px;
  color: #777;
  border-left: 2px solid #515151;
    font-size: 1em;
    font-style:oblique
}

.nongshuoshu-body blockquote>:first-child {
  margin-top: 0;
}

.nongshuoshu-body blockquote>:last-child {
  margin-bottom: 0;
}

.nongshuoshu-body table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}

.nongshuoshu-body table th {
  font-weight: bold;
}

.nongshuoshu-body table th,
.nongshuoshu-body table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

.nongshuoshu-body table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.nongshuoshu-body table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

.nongshuoshu-body img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
}

.nongshuoshu-body code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}

.nongshuoshu-body code:before,
.nongshuoshu-body code:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

.nongshuoshu-body pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  /*white-space: pre;*/
  background: transparent;
  border: 0;
}

.nongshuoshu-body .highlight {
  margin-bottom: 16px;
}

.nongshuoshu-body .highlight pre,
.nongshuoshu-body pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
}

.nongshuoshu-body .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.nongshuoshu-body pre {
  word-wrap: normal;
  border: 0px solid #ccc;
}

.nongshuoshu-body pre code {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: 2;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
  color: #adadad;
}

.nongshuoshu-body pre code:before,
.nongshuoshu-body pre code:after {
  content: normal;
}

.nongshuoshu-body kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}

.nongshuoshu-body .pl-c {
  color: #969896;
}

.nongshuoshu-body .pl-c1,
.nongshuoshu-body .pl-s .pl-v {
  color: #0086b3;
}

.nongshuoshu-body .pl-e,
.nongshuoshu-body .pl-en {
  color: #795da3;
}

.nongshuoshu-body .pl-s .pl-s1,
.nongshuoshu-body .pl-smi {
  color: #333;
}

.nongshuoshu-body .pl-ent {
  color: #63a35c;
}

.nongshuoshu-body .pl-k {
  color: #a71d5d;
}

.nongshuoshu-body .pl-pds,
.nongshuoshu-body .pl-s,
.nongshuoshu-body .pl-s .pl-pse .pl-s1,
.nongshuoshu-body .pl-sr,
.nongshuoshu-body .pl-sr .pl-cce,
.nongshuoshu-body .pl-sr .pl-sra,
.nongshuoshu-body .pl-sr .pl-sre {
  color: #183691;
}

.nongshuoshu-body .pl-v {
  color: #ed6a43;
}

.nongshuoshu-body .pl-id {
  color: #b52a1d;
}

.nongshuoshu-body .pl-ii {
  background-color: #b52a1d;
  color: #f8f8f8;
}

.nongshuoshu-body .pl-sr .pl-cce {
  color: #63a35c;
  font-weight: bold;
}

.nongshuoshu-body .pl-ml {
  color: #693a17;
}

.nongshuoshu-body .pl-mh,
.nongshuoshu-body .pl-mh .pl-en,
.nongshuoshu-body .pl-ms {
  color: #1d3e81;
  font-weight: bold;
}

.nongshuoshu-body .pl-mq {
  color: #008080;
}

.nongshuoshu-body .pl-mi {
  color: #333;
  font-style: italic;
}

.nongshuoshu-body .pl-mb {
  color: #333;
  font-weight: bold;
}

.nongshuoshu-body .pl-md {
  background-color: #ffecec;
  color: #bd2c00;
}

.nongshuoshu-body .pl-mi1 {
  background-color: #eaffea;
  color: #55a532;
}

.nongshuoshu-body .pl-mdr {
  color: #795da3;
  font-weight: bold;
}

.nongshuoshu-body .pl-mo {
  color: #1d3e81;
}

.nongshuoshu-body kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}

.nongshuoshu-body .full-commit .btn-outline:not(:disabled):hover {
  color: #515151;
  border: 1px solid #515151;
}

.nongshuoshu-body :checked+.radio-label {
  position: relative;
  z-index: 1;
  border-color: #515151;
}

.nongshuoshu-body .octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}

.nongshuoshu-body .task-list-item {
  list-style-type: none;
}

.nongshuoshu-body .task-list-item+.task-list-item {
  margin-top: 3px;
}

.nongshuoshu-body .task-list-item input {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
}

.nongshuoshu-body hr {
  border-bottom-color: #eee;
}
