<%- partial('../cms/_navtab') %>

<div class="col-sm-8 col-sm-offset-2">
  <div class="alert alert-danger" role="alert" v-if="errorMsg">{{errorMsg}}</div>
  <div class="panel panel-default">
    <div class="panel-heading">
      菜单
    </div>
    <div class="panel-body category">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>key</th>
          <th>value</th>
          <th>子菜单</th>
          <th>状态</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
          <tr v-for='(menuIndex, menu) in menus' v-bind:class="{'menu-item-enable': menu.enable}">
            <td style="width: 80px">{{menu.key}}</td>
            <td style="width: 80px">{{menu.value}}</td>
            <td>
              <!-- Split button -->
              <div class="btn-group btn-sm" v-for="(submenuIndex, submenu) in menu.submenus">
                <button type="button" class="btn btn-default btn-sm">{{submenu.value}}</button>
                <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a v-on:click="onDeleteSubmenu(menuIndex, submenuIndex, submenu._id)">删除</a></li>
                </ul>
              </div>

              <span class="glyphicon glyphicon-plus" v-on:click="onShowDialog(menuIndex, menu._id)"></span>
            </td>
            <td style="width: 40px">{{menu.enable}}</td>
            <td style="width: 60px">
              <div class="btn-group disabled">
                <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu disabled">
                  <li v-if="menu.enable"><a v-on:click="onEnableMenu(menuIndex, menu._id, false)">置为无效</a></li>
                  <li v-else><a v-on:click="onEnableMenu(menuIndex, menu._id, true)">置为有效</a></li>
                  <li><a v-on:click="onDeleteMenu(menuIndex, menu._id)">删除</a></li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="panel panel-default">
        <div class="panel-heading">
          添加主菜单
        </div>
        <div class="panel-body">
          <div class="form-inline">
            <div class='form-group'>
              <div class="input-group">
                <div class="input-group-addon">Key</div>
                <input class='form-control' id='menuKey' name='menuKey' size='30' type='text' v-model="menuKey" placeholder=""/>
              </div>
            </div>
            <div class='form-group'>
              <div class="input-group">
                <div class="input-group-addon">Value</div>
                <input class='form-control' id='menuValue' name='menuValue' size='30' type='text' v-model="menuValue" placeholder=""/>
              </div>
            </div>
            <button class="btn btn-default" v-on:click="onAddMenu">添加</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade add-submenu-dialog" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        添加子菜单
      </div>
      <div class="modal-body">
        <div class='form-group'>
          <div class="input-group">
            <div class="input-group-addon">Key</div>
            <input class='form-control' id='submenuKey' name='submenuKey' size='30' type='text' v-model="submenuKey" placeholder=""/>
          </div>
        </div>
        <div class='form-group'>
          <div class="input-group">
            <div class="input-group-addon">Value</div>
            <input class='form-control' id='submenuValue' name='submenuValue' size='30' type='text' v-model="submenuValue" placeholder=""/>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button class="btn btn-primary" v-on:click="onAddSubmenu">添加</button>
      </div>
    </div>
  </div>
</div>
<script>
  var pagePrefix = '<%= apiPrefix.page %>';
  var dataPrefix = '<%= apiPrefix.data %>';

  var vue = new Vue({
    el: '#app',
    data: {
      // menus
      menus: [],
      menuKey: '',
      menuValue: '',
      // submenus
      submenuKey: '',
      submenuValue: '',
      // others
      errorMsg: '',

      // add submenu info
      addParentId: '',
      addParentIndex: ''
    },
    methods: {
      getMenus: function() {
        $.post(dataPrefix + '/menu/data', {all: true}, function (result) {
          if (!result.success) {
            vue.errorMsg = result.message;
            return;
          }

          vue.tagKey = '';
          vue.tagValue = '';
          vue.menus = result.data;
        });
      },
      onDeleteMenu: function(menuIndex, menuId) {
        $.post(dataPrefix + '/menu/' + menuId + '/delete', function (result) {
          console.log('delete menu.......');
          console.log(result);
          if (!result.success) {
            vue.errorMsg = result.message;
            return;
          }

          vue.menus.$remove(vue.menus[menuIndex]);
        });
      },
      onAddMenu: function() {
        $.post(dataPrefix + '/menu/add', { _csrf: $('#_csrf').val(), key: vue.menuKey, value: vue.menuValue}, function (result) {
          if (!result.success) {
            vue.errorMsg = result.message;
            return;
          }

          vue.menuKey = '';
          vue.menuValue = '';
          data = result.data;
          data.submenus = [];
          vue.menus.push(data);
        });
      },
      onEnableMenu: function(menuIndex, menuId, enable) {
        $.post(dataPrefix + '/menu/' + menuId + '/update', {enable: enable}, function (result) {
          if (!result.success) {
            vue.errorMsg = result.message;
            return;
          }

          vue.menus[menuIndex].enable = enable;
        });
      },
      onShowDialog: function(menuIndex, menuId) {
        vue.addParentIndex = menuIndex;
        vue.addParentId = menuId;
        $('.add-submenu-dialog').modal('show');
      },
      onAddSubmenu: function() {
        $.post(dataPrefix + '/submenu/add', { _csrf: $('#_csrf').val(), parentId: vue.addParentId, key: vue.submenuKey, value: vue.submenuValue}, function (result) {
          if (!result.success) {
            vue.errorMsg = result.message;
            return;
          }

          vue.menus[vue.addParentIndex].submenus.push(result.data);
          vue.submenuKey='';
          vue.submenuValue='';
          vue.addParentIndex='';
          vue.addParentId='';
          $('.add-submenu-dialog').modal('hide');
        });       
      },
      onDeleteSubmenu: function(menuIndex, submenuIndex, submenuId) {
        $.post(dataPrefix + '/submenu/' + submenuId + '/delete', function (result) {
          console.log('delete submenu.......');
          console.log(result);
          if (!result.success) {
            vue.errorMsg = result.message;
            return;
          }

          vue.menus[menuIndex].submenus.$remove(vue.menus[menuIndex].submenus[submenuIndex]);
        });
      }
    }
  });

  vue.getMenus();
</script>