<input type="hidden" id="topic-id" value="<%= typeof(topic_id) !== 'undefined' ? topic_id : '' %>"/>
<div class="col-md-8 col-md-offset-2">
  <ol class="breadcrumb">
    <li><a href="/cms">主页</a></li>
    <li class="active">{{ pageTitle }}</li>
  </ol>

  <div class="form-group">
  <select class="form-control" v-on:change="onSelectedMenu($event)" v-model="selectedMenu">
    <option v-for="menu in menus" v-bind:value="menu.key">
    {{ menu.value }}
    </option>
  </select>
  </div>

  <div class="form-group">
    <select class="form-control" v-model="selectedSubmenu">
      <option v-for="submenu in submenus" v-bind:value="submenu.key">
      {{ submenu.value }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <input autofocus type="text" class="form-control" id='title' name='title' placeholder="标题字数 10 字以上" v-model="title">
  </div>

  <div class='markdown_editor in_editor'>
    <div class='markdown_in_editor'>
      <textarea class='form-control editor' name='t_content' rows='20'
                placeholder='文章支持 Markdown 语法, 请注意标记代码'></textarea>
    </div>
  </div>
  <div class="alert alert-danger" role="alert" v-if="errorMsg">{{errorMsg}}</div>
  <button class='btn btn-primary' v-on:click="onSubmit">提交</button>
  <input type='hidden' name='_csrf' value='<%= csrf %>'>
</div>

<!-- markdown editor -->
<%- partial('../includes/editor') %>
<script>
  var editor = new Editor();
  editor.render($('.editor')[0]);

  var vue = new Vue({
    el: '#app',
    data: {
      topicId: '',
      title: '',
      submitUrl: '/cms/topic/create',
      pageTitle: '新建',
      topic: '',
      menus: [],
      selectedMenu: '',
      submenus: [],
      selectedSubmenu: '',
      errorMsg: '',
      successMsg: ''
    },
    methods: {
      getMenus: function() {
        $.get('/cms/menus', function(result) {
          if (result.success) {
            let data = result.data || [];

            vue.selectedMenu =  data.length > 0 ? data[0].key : '';
            vue.menus = data;
            vue.updateSubmenusOptions(vue.selectedMenu);

            let topicId = $('#topic-id').val();
            if (topicId) {
              vue.topicId = topicId;
              vue.submitUrl = '/cms/topic/' + topicId + '/edit';
              vue.pageTitle = '编辑';
              vue.getTopic();
            }
          }
        });
      },
      onSelectedMenu: function(event) {
        vue.updateSubmenusOptions(event.target.value);
      },
      updateSubmenusOptions: function(key) {
        let index = _.findIndex(vue.menus, function(menu) {
            return menu.key === key;
        });

        vue.submenus = vue.menus[index].submenus || [];
        vue.selectedSubmenu = vue.submenus.length > 0 ? vue.submenus[0].key : '';
      },
      getTopic: function() {
        $.get('/cms/topic_data/' + this.topicId, function (result) {
          if (!result.success) {
            vue.errorMsg = result.error;
          } else {
            vue.topic = result.topic;
            vue.selectedMenu = result.topic.menu;
            vue.updateSubmenusOptions(vue.selectedMenu);
            vue.selectedSubmenu = result.topic.submenu;
            vue.title = result.topic.title;
            editor.codemirror.setValue(vue.topic.content);
          }
        });
      },
      onSubmit: function() {
        if (vue.selectedMenu === '' || vue.title === '') {
          vue.errorMsg = '有内容为空';
          return;
        }

        $.post(this.submitUrl, {
          _csrf: $('#_csrf').val(),
          title: vue.title,
          menu: vue.selectedMenu,
          submenu: vue.selectedSubmenu,
          content: editor.codemirror.getValue() },
          function (result) {
            if (!result.success) {
              vue.errorMsg = result.error;
            } else {
              location.href = result.url;
            }
        });
      }
    }
  });

  vue.getMenus();
</script>
