<input type="hidden" id="topic-id" value="<%= typeof(topic_id) !== 'undefined' ? topic_id : '' %>"/>
<div class="col-md-8 col-md-offset-2">
  <ol class="breadcrumb">
    <li><a href="/cms">主页</a></li>
    <li class="active">{{ pageTitle }}</li>
  </ol>

  <div class="form-group">
  <select class="form-control" v-model="selectedTab">
    <option v-for="tab in tabs" v-bind:value="tab.key" selected="selectedTab === tab.key">{{ tab.value }}</option>
  </select>
  </div>

  <div class="form-group">
    <select class="form-control" v-model="selectedCategory">
      <option v-for="category in categories" v-bind:value="category.key" selected="selectedCategory === category.key">
      {{ category.value }}
      </option>
    </select>
  </div>

  <div class="form-group">
  <input autofocus type="text" class="form-control" id='title' name='title' placeholder="标题字数 10 字以上" v-model="title">
  </div>

  <div class='markdown_editor in_editor'>
    <div class='markdown_in_editor'>
      <textarea class='form-control editor' name='t_content' rows='20'
                placeholder='文章支持 Markdown 语法, 请注意标记代码'></textarea>
    </div>
  </div>
  <div class="alert alert-danger" role="alert" v-if="errorMsg">{{errorMsg}}</div>
  <button type="submit" class='btn btn-primary' v-on:click="submit">提交</button>
  <input type='hidden' name='_csrf' value='<%= csrf %>'>
</div>

<!-- markdown editor -->
<%- partial('../includes/editor') %>
<script>
  var editor = new Editor();
  editor.render($('.editor')[0]);

  var vue = new Vue({
    el: '#app',
    data: {
      topicId: '',
      title: '',
      submitUrl: '/cms/topic/create',
      pageTitle: '新建',
      topic: '',
      tabs: [],
      selectedTab: '',
      categories: [],
      selectedCategory: '',
      errorMsg: '',
      successMsg: ''
    },
    methods: {
      getTabs: function() {
        $.get('/cms/tabs', function(result) {
          if (result.success) {
            var tabs = result.tabs;
            var tabsTpl = [];
            tabs.forEach(function(tab) {
              tabsTpl.push({key: tab.key, value: tab.value, selected: false});
            });

            vue.selectedTab = tabsTpl.length > 0 ? tabsTpl[0].value : '';
            vue.tabs = tabsTpl;
          }
        });
      },
      getCategories: function() {
        $.get('/cms/categories', function(result) {
          if (result.success) {
            var categories = result.categories;
            var categoriesTpl = [];
            categories.forEach(function(category) {
              categoriesTpl.push({key: category.key, value: category.value, selected: false});
            });

            vue.categories = categoriesTpl;
          }
        });
      },
      getTopic: function() {
        $.get('/cms/topic_data/' + this.topicId, function (result) {
          if (!result.success) {
            vue.errorMsg = result.error;
          } else {
            vue.topic = result.topic;
            vue.selectedTab = result.topic.tab;
            vue.selectedCategory = result.topic.category;
            vue.title = result.topic.title;
            editor.codemirror.setValue(vue.topic.content);
          }
        });
      },
      submit: function() {
        if (vue.selectedTab === '') {
          vue.errorMsg = '没有选类别';
          return;
        }

        $.post(this.submitUrl, {
          _csrf: $('#_csrf').val(),
          title: vue.title,
          tab: vue.selectedTab,
          category: vue.selectedCategory,
          content: editor.codemirror.getValue() },
          function (result) {
            if (!result.success) {
              vue.errorMsg = result.error;
            } else {
              location.href = result.url;
            }
        });
      }
    }
  });

  vue.getTabs();
  vue.getCategories();

  var topicId = $('#topic-id').val();
  if (topicId) {
    vue.topicId = topicId;
    vue.submitUrl = '/cms/topic/' + topicId + '/edit';
    vue.pageTitle = '编辑';
    vue.getTopic();
  }

</script>
