<div class="col-sm-8 col-sm-offset-2 topic">
  <input type="hidden" id="topic-id" value="<%= typeof(topic._id) !== 'undefined' ? topic._id : '' %>"/>
  <div class='header'>
    <h2>
      <%= topic.title %>
    </h2>
    <div class="meta">
      <span>
        发布于 <%= topic.create_at_ago() %>
      </span>
      <span>
        作者 <a href="<%= apiPrefix.page %>/user/<%= topic.author.loginname %>"><%= topic.author.loginname %></a>
      </span>
      <% if (topic.create_at_ago() != topic.update_at_ago()) { %>
        <span>
          最后一次编辑是 <%= topic.update_at_ago() %>
        </span>
      <% } %>
      <% if (topic.tab) { %>
        <span> 来自 <%= topic.tabName %></span>
      <%}%>

      <button class="btn btn-primary pull-right" v-if="isReviewed">{{statusValue}}</button>
      <div class="btn-group pull-right" v-else>
        <button type="button" class="btn btn-danger btn-sm">{{statusValue}}</button>
        <button type="button" class="btn btn-danger dropdown-toggle btn-sm" data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li v-if="isReviewing"><a v-on:click="onReviewing('saved')">取消审核</a></li>
          <li v-else><a v-on:click="onReviewing('reviewing')">提交审核</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class='nongshuoshu-body content'>
    <%- markdown(topic.linkedContent) %>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">
      评论
    </div>
    <div class="panel-body">
      <div v-if="replies">
        <div class="reply-panel" v-for="reply in replies">
          <div class="reply-user">
            <strong>{{reply.author.loginname}}</strong><span class="reply-user-time">{{reply.create_at_ago}}</span>
            <div class="btn-toolbar pull-right" role="toolbar" aria-label="...">
              <div class="btn-group" role="group" aria-label="...">
                <button v-if="currentUserId === reply.author._id"
                        type="button"
                        class="btn btn-default btn-sm"
                  v-on:click="onReplyReply(reply._id, reply.author.loginname)">
                  <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                </button>
                <button v-if="currentUserId === reply.author._id"
                        type="button"
                        class="btn btn-default btn-sm"
                        v-on:click="onDeleteReply(reply._id)">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true" data-replyid="{{reply._id}}"></span>
                </button>
                <button v-if="currentUserId === reply.author._id"
                        type="button" class="btn btn-default btn-sm" v-on:click="onEditReply(reply._id, reply.content)">
                  <span class="glyphicon glyphicon-edit" aria-hidden="true" data-replyid="{{reply._id}}"></span>
                </button>
              </div>
            </div>
          </div>
          <div class='nongshuoshu-body content'>
            {{{reply.content}}}
          </div>
        </div>
      </div>
      <div v-else>没有评论</div>
    </div>
  </div>


  <% if (typeof(current_user) !== 'undefined' && current_user) { %>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <span class='col_fade'>添加回复</span>
    </div>
    <div class='panel-body reply'>
        <div class='markdown_editor in_editor'>
          <div class='markdown_in_editor'>
            <textarea class='editor' name='content' rows='8' v-model="content"></textarea>
          </div>
        </div>
        <button class="btn btn-default" v-on:click="onReply">提交</button>
        <input type='hidden' name='_csrf' id="_csrf" value='<%= csrf %>'/>
    </div>
  </div>
  <% } %>
</div>

<!-- markdown editor -->
<%- partial('../includes/editor') %>
<script>
  $(document).ready(function () {
    var pagePrefix = '<%= apiPrefix.page %>';
    var dataPrefix = '<%= apiPrefix.data %>';

    var vue = new Vue({
      el: '#app',
      data: {
        currentUserId: "",
        topicId: '',
        replies: [],
        content: '',
        topicStatus: [],
        statusKey: 'saved',
        statusValue: '已保存',
        isReviewing: false,
        isReviewed: false
      },
      methods: {
        getTopicConfig: function() {
          $.post(dataPrefix + '/topic/config', function (result) {
            if (!result.success) {
              return;
            }
            
            vue.topicStatus = result.data.topicStatus;
            vue.updateTopicStatus(vue.statusKey);
            vue.updateReviewing();
          });
        },
        updateTopicStatus(key) {
          var index = _.findLastIndex(vue.topicStatus, function(item) {
            return  item.key == key;
          });

          if (index > -1) {
            vue.statusValue = vue.topicStatus[index].value;
            vue.updateReviewing();
          } else {
            vue.errorMsg = '处理出错';
          }
        },
        onReviewing (status) {
          $.post(dataPrefix + '/topic/' + vue.topicId + '/status', {status: status}, function (result) {
            if (!result.success) {
              vue.errorMsg = result.message;
              return;
            }
            vue.statusKey = status;
            vue.updateTopicStatus(status);
          });
        },
        updateReviewing() {
          console.log(vue.statusKey);
          vue.isReviewing = vue.statusKey === 'reviewing';
          vue.isReviewed = vue.statusKey === 'reviewed';
        },
        getReplies: function() {
          $.get(dataPrefix + '/' + vue.topicId + '/replies/data', function (result) {
            if (!result.success) {
              vue.errorMsg = result.message
              return
            }
            vue.authors = result.authors
            vue.updateReplies(result.data)
          });
        },
        updateReplies: function(replies) {
          replies.forEach( function(item) {
            var index = _.findIndex(vue.authors, function(i) {
              return i._id === item.author_id
            })

            if (index >= 0) {
              item.author = vue.authors[index]
            }
          })

          replies.forEach( function(item){
            vue.replies.push(item)
          });
        },
        onReply: function () {
          $.post(dataPrefix + '/reply/' + vue.topicId + '/reply', {content: editor.codemirror.getValue() || ''}, function (result) {
            if (!result.success) {
              vue.errorMsg = result.message;
              return;
            }

            console.log(result.data)
            console.log(result.data.author)

            vue.replies.push(result.data);
          });
        },
        onReplyReply: function (replyId, loginname) {
          var editorDialog = new EditorDialog();
          var atUser = '@' + loginname + ' ';
          editorDialog.init('编辑', atUser);
          editorDialog.show(function (editedContent) {
            if (editedContent) {
              $.post(dataPrefix + '/' + vue.topicId + '/reply', {reply_id: replyId, content: editedContent}, function (result) {
                if (!result.success) {
                  vue.errorMsg = result.message;
                  return;
                }

                vue.replies.push(result.reply);
              });
            }
          });
        },
        onEditReply: function(replyId, content) {
          var editorDialog = new EditorDialog();
          editorDialog.init('编辑', content);
          editorDialog.show(function (editedContent) {
            if (editedContent) {
              $.post(dataPrefix + '/reply/' + replyId + '/edit', {reply_id: replyId, content: editedContent}, function (result) {
                if (!result.success) {
                  vue.errorMsg = result.message;
                  return;
                }

                var index = _.findIndex(vue.replies, function(reply) {
                  if (reply._id === replyId) return true;
                });

                vue.replies[index].content = editedContent;
              });
            }
          });
        },
        onDeleteReply: function(replyId) {
          $.post(dataPrefix + '/reply/' + replyId + '/delete', {reply_id: replyId}, function (result) {
            if (!result.success) {
              vue.errorMsg = result.message;
              return;
            }

            var index = _.findIndex(vue.replies, function(reply) {
              if (reply._id === replyId) return true;
            });

            vue.replies.$remove(vue.replies[index]);
          });
        }
      }
    });

    vue.topicId = '<%= typeof(topic) !== "undefined" && topic ? topic._id : "" %>';
    vue.currentUserId = '<%= typeof(current_user) !== "undefined" && current_user ? current_user._id : "" %>';
    vue.statusKey = '<%= typeof(topic) !== "undefined" && topic ? topic.status : "saved" %>';

    if(vue.currentUserId) {
      var editor = new Editor();
      editor.render($('.editor')[0]);
    }

    vue.getReplies();
    vue.getTopicConfig();
  });
</script>