<%- partial('./_navtabs') %>
<div class="alert alert-danger" role="alert" v-if="errorMsg">{{errorMsg}}</div>
<div class="col-sm-2">
  <div class="list-group">
    <button href="#" class="list-group-item disabled">
      操作
    </button>
    <button class="btn list-group-item"
            v-on:click="onTab"
            v-for="item in tabs"
            v-bind:class="{'active': item.selected}"
            value="{{ item.key }}">
      {{ item.value }}
    </button>
  </div>
</div>

<div class="col-sm-10">
  <ol class="breadcrumb">
    <li><a href="/cms">Home</a></li>
    <li><a href="#">{{ pageTitle }}</a></li>
  </ol>
  <div class="panel panel-default">
    <div class="panel-body">
      <a href='/cms/topic/create' class="btn btn-primary btn-sm" role="button">添加文章</a>
    </div>
  </div>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th>作者</th>
      <th>标题</th>
      <th>Tab</th>
      <th>Category</th>
      <th>时间</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
      <tr v-for="topic in topics">
        <td style="width: 80px"><a href="/cms/user/{{ topic.author.loginname}}">{{topic.author.loginname}}</a></td>
        <td><a href='/cms/topic_page/{{topic._id}}'>{{topic.title}}</a></td>
        <td style="width: 80px">{{topic.tabValue}}</td>
        <td style="width: 80px">{{topic.categoryValue}}</td>
        <td style="width: 80px">{{topic.create_at}}</td>
        <td style="width: 80px">
          <div class="btn-group disabled">
            <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Action <span class="caret"></span>
            </button>
            <ul class="dropdown-menu disabled">
              <li><a href='/cms/topic/{{topic._id}}/edit'>编辑</a></li>
              <li role="separator" class="divider"></li>
              <li v-if="topic.top"><a href="#">取消置顶</a></li>
              <li v-else><a href="#">置顶</a></li>
              <li v-if="topic.good"><a href="#">取消精华</a></li>
              <li v-else><a href="#">精华</a></li>
              <li v-if="topic.lock"><a href="#">取消锁定</a></li>
              <li v-else><a href="#">锁定</a></li>
              <li><a v-on:click="onDelete(topic._id)">删除</a></li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<script>
  var vue = new Vue({
    el: '#app',
    data: {
      pageTitle: '全部',
      tabs: [],
      selectedTab: 'all',
      topics: [],
      categories: [],
      errorMsg: ''
    },
    methods: {
      getCategories: function() {
        $.get('/cms/categories', function (result) {
          if (!result.success) {
            vue.errorMsg = result.message;
            return;
          }

          vue.categories = result.categories;
          vue.getTabs();
        });
      },
      getTabs: function() {
        $.get('/cms/tabs', function (result) {
          if (!result.success) {
            vue.errorMsg = result.message;
            return;
          }

          vue.buildTabs(result.tabs);
          vue.getData();
        });
      },
      onTab: function(event) {
        this.selectedTab = event.target.value;
        this.getData();
      },
      getData: function() {
        $.post('/cms/topics?tab=' + this.selectedTab, function(result) {
          if (!result.success) {
            vue.errorMsg = result.message;
            return;
          }
           
          vue.updateTopics(result.topics);
        });
      },
      buildTabs: function(tabs) {
        var tabsTpl = [{key: 'all', value: '全部', selected: false}, {key: 'good', value: '精选', selected: false}];
        tabs.forEach(function(item) {
          item.selected = false;
          tabsTpl.push(item);
        });

        vue.tabs = tabsTpl;
        vue.updateSelectedTab();
      },
      updateTopics: function(topics) {
        topics.forEach(function(item) {
          let index1 = _.findIndex(vue.tabs, function(tab) {
            return tab.key === item.tab;
          });

          if (index1 >= 0) {
            item.tabValue = vue.tabs[index1].value;
          }

          let index2 = _.findIndex(vue.categories, function(category) {
            return category.key === item.category;
          });

          if (index2 >=0 ) {
            item.categoryValue = vue.categories[index2].value;
          }
        });

        vue.topics = topics;
      },
      updateSelectedTab: function() {
        vue.tabs.forEach(function(item) {
          if(item.key === vue.selectedTab) {
            item.selected = true;
            vue.pageTitle = item.value;
          } else {
            item.selected = false;
          }
        });
      },
      onTop: function(topicId) {

      },
      onGood: function(topicId) {

      },
      onLock: function(topicId) {
        if (topicId && confirm('确定要锁定吗？')) {
          $.get('/cms/topic/' + topicId + '/lock', function(result) {

          });
        }
      },
      onDelete: function(topicId) {
        if (topicId && confirm('确定要删除吗？')) {
          $.post('/cms/topic/' + topicId + '/delete', { _csrf: $('#_csrf').val() }, function (result) {
            if (!result.success) {
              vue.errorMsg = result.message;
            } else {
              var index = _.findIndex(vue.topics, function(topic) {
                if (topic._id === topicId) return true;
              });

              vue.topics.$remove(vue.topics[index]);
            }
          });
        }
      }
    }
  });

  vue.getCategories();
</script>
