<%- partial('./_navtab') %>
<div class="alert alert-danger" role="alert" v-if="errorMsg">{{errorMsg}}</div>
<div class="col-sm-2">
  <div class="list-group">
    <button href="#" class="list-group-item disabled">
      操作
    </button>
    <button class="btn list-group-item"
            v-on:click="onMenu"
            v-for="item in menus"
            v-bind:class="{'active': item.selected}"
            value="{{ item.key }}">
      {{ item.value }}
    </button>
  </div>
</div>

<div class="col-sm-10">
  <ol class="breadcrumb">
    <li><a href="/cms">Home</a></li>
    <li><a href="#">{{ pageTitle }}</a></li>
  </ol>
  <div class="panel panel-default">
    <div class="panel-body">
      <a href='/cms/topic/create' target="_blank" class="btn btn-primary btn-sm" role="button">添加文章</a>
    </div>
  </div>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th>作者</th>
      <th>标题</th>
      <th>Menu</th>
      <th>Submenu</th>
      <th>时间</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
      <tr v-for="topic in topics">
        <td style="width: 80px"><a href="/cms/user/{{ topic.author.loginname}}">{{topic.author.loginname}}</a></td>
        <td><a href='/cms/topic_page/{{topic._id}}'>{{topic.title}}</a></td>
        <td style="width: 80px">{{topic.menuValue}}</td>
        <td style="width: 80px">{{topic.submenuValue}}</td>
        <td style="width: 80px">{{topic.create_at}}</td>
        <td style="width: 80px">
          <div class="btn-group disabled">
            <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Action <span class="caret"></span>
            </button>
            <ul class="dropdown-menu disabled">
              <li><a href='/cms/topic/{{topic._id}}/edit' target="_blank">编辑</a></li>
              <li role="separator" class="divider"></li>
              <li v-if="topic.top"><a href="#">取消置顶</a></li>
              <li v-else><a href="#">置顶</a></li>
              <li v-if="topic.good"><a href="#">取消精华</a></li>
              <li v-else><a href="#">精华</a></li>
              <li v-if="topic.lock"><a href="#">取消锁定</a></li>
              <li v-else><a href="#">锁定</a></li>
              <li><a v-on:click="onDelete(topic._id)">删除</a></li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<script>
  var vue = new Vue({
    el: '#app',
    data: {
      pageTitle: '全部',
      menus: [],
      selectedMenu: 'all',
      topics: [],
      submenus: [],
      errorMsg: ''
    },
    methods: {
      getMenus: function() {
        $.get('/cms/menus', function (result) {
          if (!result.success) {
            vue.errorMsg = result.message;
            return;
          }

          let data = result.data || [];
          vue.buildMenus(data);
          vue.buildSubmenus(data);
          vue.getData();
        });
      },
      buildMenus: function(menus) {

        var menusTpl = [{key: 'all', value: '全部', selected: false}, {key: 'good', value: '精选', selected: false}];

        menus.forEach(function(item) {
          item.selected = false;
          menusTpl.push(item);
        });

        vue.menus = menusTpl;
        vue.updateSelectedMenu(vue.menus[0].key);
      },
      buildSubmenus: function(menus) {
        vue.submenus = [];
        menus.forEach((menu)=> {
          if (menu.submenus) {
            menu.submenus.forEach((submenu)=> {
              vue.submenus.push(submenu);
            });
          }
        });
      },
      onMenu: function(event) {
        vue.updateSelectedMenu(event.target.value);
        vue.getData();
      },
      getData: function() {
        $.post('/cms/topics?menu=' + vue.selectedMenu, function(result) {
          if (!result.success) {
            vue.errorMsg = result.message;
            return;
          }
           
          vue.updateTopics(result.data);
        });
      },
      updateTopics: function(topics) {
        topics.forEach((item)=> {
          let index1 = _.findIndex(vue.menus, function(menu) {
            return menu.key === item.menu;
          });

          if (index1 >= 0) {
            item.menuValue = vue.menus[index1].value;
          }

          let index2 = _.findIndex(vue.submenus, function(submenu) {
            return submenu.key === item.submenu;
          });

          if (index2 >=0 ) {
            item.submenuValue = vue.submenus[index2].value;
          }
        });

        vue.topics = topics;
      },
      updateSelectedMenu: function(key) {
        console.log(key);
        vue.menus.forEach((item)=> {
          if(item.key === key) {
            item.selected = true;
            vue.pageTitle = item.value;
          } else {
            item.selected = false;
          }
        });

        vue.selectedMenu = key;
      },
      onTop: function(topicId) {

      },
      onGood: function(topicId) {

      },
      onLock: function(topicId) {
        if (topicId && confirm('确定要锁定吗？')) {
          $.get('/cms/topic/' + topicId + '/lock', function(result) {

          });
        }
      },
      onDelete: function(topicId) {
        if (topicId && confirm('确定要删除吗？')) {
          $.post('/cms/topic/' + topicId + '/delete', { _csrf: $('#_csrf').val() }, function (result) {
            if (!result.success) {
              vue.errorMsg = result.message;
            } else {
              var index = _.findIndex(vue.topics, function(topic) {
                if (topic._id === topicId) return true;
              });

              vue.topics.$remove(vue.topics[index]);
            }
          });
        }
      }
    }
  });

  vue.getMenus();
</script>
